@use 'styles/variables';

.nav {
  display: flex;
  align-items: center;

  .nav__logo {
    margin-right: auto;
  }

  .nav__actions {
    display: flex;
    gap: 30px;

    select {
      border: none;
      font-weight: 700;
      font-size: 1.2rem;
      text-align: right;
      padding-right: 15px;
    }

    .actions__theme-switch {
      display: flex;
      gap: 5px;
      align-items: center;
      border-left: 1px solid variables.$input-bg-color-l;
      padding-left: 30px;
    }
  }
}

.search-definition {
  margin-top: 50px;
  form {
    position: relative;
    input {
      width: 100%;
      background-color: var(--bg-input-color);
      font-family: var(--font-family);
      font-weight: 700;
      border: none;
      padding: 20px 30px;
      border-radius: 15px;
      color: var(--text-color);
      font-size: 1.2rem;
      padding-right: 64px;

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        color: var(--text-color);
        opacity: .5;
      }

      &.invalid {
        outline: 1px solid variables.$color-invalid;
      }

      &:-internal-autofill-selected {
        background-color: var(--bg-input-color) !important;
      }
    }

    .invalid-message {
      color: variables.$color-invalid;
      margin-top:10px;
    }

    button {
      position: absolute;
      background-color: transparent;
      right: 0;
      top: 0;
      height: 64px;
      width: 64px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .definition {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    & > div {
      display: flex;
      gap: 40px;
    }

    & > div:not(:first-child):not(:last-child) {
      flex-direction: column;
    }

    h1 {
      font-size: 3.5rem;
      margin-bottom: 0;
    }

    h4 {
      font-size: 1.5rem;
      color: var(--text-color-active);
      font-weight: 400;
    }

    h5 {
      font-size: 1.2rem;
      color: var(--text-color-alt);
      font-weight: 400;
    }

    .definition__word {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .word__audio {
        button {
          border-radius: 100%;
          display: flex;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .definition__meaning {
      ul {
        padding-left: 50px;
        list-style: none;

        li {
          position: relative;
          margin-bottom: 15px;

          &::before {
            position: absolute;
            content: "\2022";
            color: var(--text-color-active);
            left: -25px;
          }
        }
      }
      .meaning__synonyms {
        display: flex;
        gap: 20px;

        span {
          font-size: 1.2rem;
          color: var(--text-color-active);
          font-weight: 700;
        }
      }
    }
  }
}